.intro-video {
  background: #1f6c7f;
  padding-right: 5.3%;
}

.intro-video__container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 3rem;
  padding-left: 5.3%;
  justify-content: center;
}

.intro-video__pretitle {
  margin-bottom: 2rem;
}

.intro-video__title {
  margin-bottom: 1rem;
}

.intro-video__paragraph {
  max-width: 485px;
  margin-bottom: 2rem;
}

.intro-video__media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.intro-video__video {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2.25rem;
}

.intro-video__iframe {
  width: 100%;
  max-width: 600px;
  height: auto;
  border: none;
  margin-left: 20px; /* Adjust space between video and iframe */
}

@media (min-width: 1000px) {
  .intro-video {
    background-color: #ae9d82;
    padding-right: 40%;
    height: 100vh;
  }
  .intro-video__container {
    background: #1f6c7f;
    padding-right: 20%;
    padding-left: 18%;
    height: 100vh;
  }
  .intro-video__media {
    flex-direction: row;
  }
  .intro-video__video, .intro-video__iframe {
    position: static;
    width: 45%;
    max-width: 800px;
  }
}
